.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.7);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
  }
  
  .modal-content {
    position: relative;
    background: white;
    padding: 10px;
    border-radius: 8px;
    max-height: 90vh;
    overflow-y: auto;
  }

  .modal-image {
    max-width: 150vw;
    max-height: 140vh;
    object-fit: cover;
  }
  
  .modal-close {
    position: absolute;
    top: 10px;
    right: 20px;
    font-size: 24px;
    background: none;
    border: none;
    cursor: pointer;
    color: #000;
  }
  
  .enlarge-button {
    margin-top: 10px;
    padding: 8px 16px;
    cursor: pointer;
    background-color: #000;
    color: #fff;
    border: none;
    border-radius: 4px;
  }

  .product-page img{
    width: 50%;
    height: 50%;
  }

  @media (max-width: 768px){
    .modal-image {
      max-width: 90vw;
      max-height: 80vh;
      object-fit: cover;
    }
  }